/*
 * @Author: xiangshangzhi
 * @Date: 2022-09-09 11:37:36
 * @FilePath: \reactProject\src\App\views\Login\style.module.css
 */
.wrap {
  border: 1px solid red;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
  .loginForm {
    /* border: 1px solid red; */
    margin-bottom: 40px;
    padding: 60px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .loginBtn {
    /* border: 1px solid red; */
    display: block;
    margin: auto;
    width: 140px;
  }
}

:global(.xiang) {
  border: 1px solid red;
}
