/*
 * @Author: xiangshangzhi
 * @Date: 2022-09-09 11:37:36
 * @FilePath: \reactProject\src\App\Dashboard\style.module.css
 */

.dashboardWrap {
  background-color: burlywood;
  display: flex;
  border-radius: 5px;
  padding-top: 60px;
  height: 100%;
  /* min-height: calc(100vh - 100px); */
  .content {
    padding-left: 8px;
    flex: 1;
  }
}

.header {
  height: 50px;
  border: 1px solid red;
}
